[submodule "src/rpi1_ws281x"]
	path = src/rpi1_ws281x
	url = git@github.com:jgarff/rpi_ws281x.git
[submodule "src/rpi2_ws281x"]
	path = src/rpi2_ws281x
	url = git@github.com:richardghirst/rpi_ws281x.git
